<div
  class="flex flex-col items-center justify-center w-full lg:w-1/3 mx-auto my-8 px-4">
  <h2>My Streaks</h2>

  <mat-form-field class="w-full mb-4">
    <mat-label>New Streak Name</mat-label>
    <input matInput [(ngModel)]="newStreakName" (keyup.enter)="add()">
    <button mat-icon-button matSuffix (click)="add()" [disabled]="!newStreakName">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>

  <div class="flex flex-col gap-4 w-full">
    @for (streak of streaks(); track streak.id) {
      <div class="bg-gray-700 rounded-lg flex flex-col w-full gap-1 py-3">
        <!-- ROW 1 -->
        <div class="flex items-center w-full">
          <mat-checkbox></mat-checkbox>
          <span class="ml-3 flex-1">
          {{ streak.name }}
        </span>
          <button mat-icon-button class="ml-2">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="ml-1" (click)="delete(streak.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <!-- ROW 2 -->
        <div class="flex items-center text-sm text-gray-600 ml-9 gap-1">
          <mat-icon class="text-orange-500">local_fire_department</mat-icon>
          <span>0</span>
        </div>
      </div>
    } @empty {
      <div class="p-8 text-center text-gray-500">
        <p>No streaks yet. Start one today!</p>
      </div>
    }
  </div>

</div>
